<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <ul class="nav nav-pills" role="tablist">
      {% if user.usa %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#usa">USA</a></li>
      {% endif %}
      {% if user.world %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#world">World</a></li>
      {% endif %}
      {% if user.politics %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#politics">Politics</a></li>
      {% endif %}
      {% if user.business %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#business">Business</a></li>
      {% endif %}
      {% if user.health %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#health">Health</a></li>
      {% endif %}
      {% if user.entertainment %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#entertainment">Entertainment</a></li>
      {% endif %}
      {% if user.style %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#style">Style</a></li>
      {% endif %}
      {% if user.travel %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#travel">Travel</a></li>
      {% endif %}
      {% if user.sports %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#sports">Sports</a></li>
      {% endif %}
  </ul>
    <div class="tab-content">
        <div id="usa" class="container tab-pane fade">
            <h3>USA</h3>
                <div id="accordion">
                    {% for news in usanews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="world" class="container tab-pane fade">
            <h3>World</h3>
                <div id="accordion">
                    {% for news in worldnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="politics" class="container tab-pane fade">
            <h3>Politics</h3>
                <div id="accordion">
                    {% for news in politicsnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="business" class="container tab-pane fade">
            <h3>Business</h3>
                <div id="accordion">
                    {% for news in businessnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="health" class="container tab-pane fade">
            <h3>Health</h3>
                <div id="accordion">
                    {% for news in healthnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="entertainment" class="container tab-pane fade">
            <h3>Entertainment</h3>
                <div id="accordion">
                    {% for news in entertainmentnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="style" class="container tab-pane fade">
            <h3>Style</h3>
                <div id="accordion">
                    {% for news in stylenews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="travel" class="container tab-pane fade">
            <h3>Travel</h3>
                <div id="accordion">
                    {% for news in travelnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="sports" class="container tab-pane fade">
            <h3>Sports</h3>
                <div id="accordion">
                    {% for news in sportsnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endif %}
{% endblock %}
