<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/Features-Boxed.css.css'%}">
<link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
<link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
<link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
<link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <ul class="nav nav-pills" role="tablist">
   {% if user.business %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#business">Business</a></li>
    {% endif %}
    {% if user.entertainment %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#entertainment">Entertainment</a></li>
    {% endif %}
    {% if user.politics %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#politics">Politics</a></li>
    {% endif %}
    {% if user.health %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#health">Health</a></li>
    {% endif %}
    {% if user.world %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#world">World</a></li>
    {% endif %}
    {% if user.usa %}
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#usa">USA</a></li>
    {% endif %}
  </ul>
    <div class="tab-content">
        <div id="business" class="container tab-pane fade">
            <h3>Business</h3>
                <div id="accordion">
                    {% for n in newsdata.business%}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{n.2}}">
                                {{n.0}}
                              </a>
                            </div>
                            <div id="collapse{{n.2}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                {{n.1}}
                              </div>

                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal0">See Article</button>

                              <div class="modal fade modal0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">{{n.0}}</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          {{n.1}}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="entertainment" class="container tab-pane fade">
            <h3>Entertainment</h3>
                <div id="accordion">
                    {% for n in newsdata.entertainment%}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{n.2}}">
                                {{n.0}}
                              </a>
                            </div>
                            <div id="collapse{{n.2}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                {{n.1}}
                              </div>
                              <a href="{{n.2}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="politics" class="container tab-pane fade">
            <h3>Politics</h3>
                <div id="accordion">
                    {% for n in newsdata.politics%}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{n.2}}">
                                {{n.0}}
                              </a>
                            </div>
                            <div id="collapse{{n.2}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                {{n.1}}
                              </div>
                              <a href="{{n.2}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="health" class="container tab-pane fade">
            <h3>Health</h3>
                <div id="accordion">
                    {% for news in healthnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="world" class="container tab-pane fade">
            <h3>World</h3>
                <div id="accordion">
                    {% for news in worldnews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div id="usa" class="container tab-pane fade">
            <h3>USA</h3>
                <div id="accordion">
                    {% for news in usanews %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{news.title}}">
                                {{news.title}}
                              </a>
                            </div>
                            <div id="collapse{{news.title}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {% for para in news.data %}
                                    <p>{{para}}</p>
                                  {% endfor %}
                              </div>
                              <a href="{{news.title}}" target="_blank" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% else  %}
<br><br>
    <div class="card text-left">
        <div class="card-body card-getstarted">
            <h4 class="card-title">Tune your News!</h4>
            <h6 class="text-muted card-subtitle mb-2">Organize all your news topics that matter to you.<br><br>All in one place.</h6><a href="{% url 'signup' %}"><button class="btn btn-primary nt-btn btn-getstarted" type="button">Get Started</button></a><a href="{% url 'login' %}"><button class="btn btn-primary nt-btn-trans btn-getstarted-login">Login</button></a></div>
    </div>
    <br><br>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <br>
                <h3 class="text-center">Never miss important News!</h3>
            </div>
            <div class="row text-left justify-content-start features">
                <div class="col-sm-6 col-md-5 col-lg-4 item ft-item">
                    <div class="text-left border rounded box" style="width: 300px;"><i class="fas fa-book-open icon"></i>
                        <h3 class="text-left name">Read</h3>
                        <p class="text-left description">News Tunes offers a clean reading experience optimized for productivity</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="text-left border rounded box" style="width: 300px;"><i class="far fa-bookmark icon"></i>
                        <h3 class="name">Bookmark</h3>
                        <p class="description">Save articles and easily<br>get back to them <br>for future read</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="text-left border rounded box" style="width: 300px;"><i class="far fa-star icon"></i>
                        <h3 class="name">Discover</h3>
                        <p class="description">Discover on niche and<br>broad topics to mainstream new stories</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="text-left border rounded box" style="width: 300px;"><i class="fas fa-boxes icon"></i>
                        <h3 class="name">Organize</h3>
                        <p class="description">News Tunes helps you by<br>arranging the contents into easy-to-read feeds</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="text-left border rounded box" style="width: 300px;"><i class="fas fa-search icon"></i>
                        <h3 class="name">Search</h3>
                        <p class="description">Search for your favourite news or<br>any specific articles that <br>interests you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}
