<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Features-Boxed.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--{% load static %} 
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">  -->
    <div class="col dummy10"></div>
    <div class="col dummy10"></div>
    <div class="login-clean bd-form">
        
        <form method="post">
                <h5 class="text-center nt-login-head">Signup to News Tunes</h5>
            {% csrf_token %}          
            {% for field in form %}
                <p>
                    {% if field == "usa" %}
                        {{ field }}
                        {{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <div class="form-group"><button class="btn btn-block nt-btn" type="submit">Signup with News Tunes</button></div>
        </form>
    </div>
{% endblock %}


